.foto-tabla {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.clearance {
    border-color: 2px solid green !important;
    background-color: lightgreen !important;
}

td {
    vertical-align: middle;
}
